/* body {
    background: linear-gradient(to right, white 0%, white 60%, #000000 50%, black 50%, black 100%);
} */
/* body */
/* footer */
/* gallery */
/* responsive */
html,
body {
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
}

nav {
    width: 70vw;
}

.navList {
    width: 35vw;
}

#top li {
    padding-top: 3px;
    padding-bottom: 3px;
}

#top li a {
    position: relative;
    z-index: 99;
    font-size: 20px;
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 7px;
}

h3 {
    letter-spacing: 7px;
    margin-right: -10px;
}

h4 {
    letter-spacing: 4px;
}

span {
    font-weight: 900;
    letter-spacing: 2px;
}

.logo {
    min-width: 35vw;
}

header {
    width: 35vw;
    text-align: right;
    padding-right: 15px;
}

.heroImgOran {
    position: absolute;
    z-index: -2;
    margin: 0 auto;
    width: 20%;
    top: 50px;
    left: 0;

}

.headerImgList {
    position: relative;
    z-index: 0;
    bottom: 70px;
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}

.verticallBackground {
    width: 35vw;
    background-color: black;
    position: fixed;
    left: 0;
    z-index: -1;
}


.navElements {
    position: relative;
    top: 50px;
}

.gallery {
    top: 200vh;
}

/* BACK TO TOP START */
.backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    border: 3px dotted white;
}

.topIcon {
    width: 30px;
}

.topIcon:hover {
    background-color: #F59E0B;
    color: #F59E0B;
}

.backToTop:focus {
    outline: none;
}


/* BACK TO TOP END */

/* hover START, builded based on:https://dev.to/afif/another-100-underline-overlay-animations-the-extended-css-collection-574c?utm_source=digest_mailer&utm_medium=email&utm_campaign=digest_email */
.unexpected-2 {
    padding-bottom: 2px;
    clip-path: polygon(1px 1px, 100% 1px, 100% calc(100% + 3px), -100vmax calc(100% + 3px), -100vmax 100%, 1px 100%);
    box-shadow: -100vmax 3px 0px #F59E0B;
    transition: 0.2s linear;

}

.unexpected-2:hover {
    box-shadow: 0 3px 0px #F59E0B;
}

/* footer */
footer {
    height: 100px;
    position: relative;
    bottom: 0;
    background: #F59E0B;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 40px;
    transition: transform 1.5s;
    margin: 0 5px
}

.linkedIn {
    width: 45px;
}

.konradSite {
    border: 3px solid black;
    border-radius: 50px;
    padding: 3px;
}

footer img:hover {
    position: relative;
    /* bottom: 7px; */
    transform: translate(20px, 20px);
    transform: rotate(360deg);
}

/* gallery */
.middlePic {
    margin-top: 20px
}

/* responsive START*/
@media only screen and (max-width: 740px) {
    .heroImgOran {
        height: 70vh;
        width: auto;
    }

    .logo h1 {
        margin: 3px 0 20px 5px;
    }

    .nav {
        width: 80vw;
    }

    .navList {
        display: block;
        position: absolute;
        right: 4px;
    }


    .navList .m-5 {
        /* position: absolute; */
        padding-right: 3px;
        top: 3px;
        right: 10px;
        vertical-align: middle;
        margin: 3px;
        border-right: 1px solid #F59E0B;
        height: 20px;
        line-height: 17px;
        text-align: right;
    }

    header {
        text-align: center;
        padding-right: 0;
    }

    .text-5xl {
        text-align: center;
        font-size: 2rem;
        margin-top: 0;
    }

    .text-6xl {
        text-align: center;
        font-size: 1rem;
    }

    #top li {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .headerImgList {
        bottom: 0;

    }

}

/* responsive END*/