/* body {
    background: linear-gradient(to right, white 0%, white 60%, #000000 50%, black 50%, black 100%);
} */
html,
body {
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
}

nav {
    width: 70vw;
}

.navList {
    width: 35vw;
}

#top li {
    padding-top: 3px;
    padding-bottom: 3px;
}

#top li a {
    position: relative;
    z-index: 99;
    font-size: 20px;
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 7px;
}

h3 {
    letter-spacing: 7px;
}

h4 {
    letter-spacing: 4px;
}

span {
    font-weight: 900;
    letter-spacing: 2px;
}

.logo {
    min-width: 35vw;
}

header {
    width: 35vw;
    text-align: right;
    padding-right: 15px;
}

.heroImgOran {
    position: absolute;
    z-index: -2;
    margin: 0 auto;
    width: 20%;
    top: 50px;
    left: 35vw;

}

.headerImgList {
    position: relative;
    z-index: 0;
    bottom: 70px;
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}

.verticallBackground {
    width: 35vw;
    background-color: black;
    position: fixed;
    left: 0;
    z-index: -1;
}

.heroImg {
    position: absolute;
    z-index: -2;
    width: 70%;
    margin: 0 auto;
    transform: rotate(-15deg);
    top: 100px;
    right: 0;

}

.navElements {
    position: relative;
    top: 50px;
}

.gallery {
    top: 200vh;
}

/* BACK TO TOP START */
.backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.topIcon {
    width: 30px;
}

.topIcon:hover {
    background-color: #F59E0B;
    color: #F59E0B;
}

/* BACK TO TOP END */