img {
    border: 2px solid black;
}

.fade-in {
    animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

ol {
    margin-top: 30px;
}

li {
    font-size: 30px;
    color: white;
    display: inline;
    margin: 0 20px;
}

li a:hover {
    color: yellow;
}

li a {
    color: white;
    text-decoration: none;
}

body>a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition-delay: 3s;
    transition: background-color 3s ease-out;

}

body {
    background-color: black;
    text-align: center
}

.element-left {
    animation:
        fadeInLeft 5s linear alternate;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.element-right {
    animation:
        fadeInLeft 5s linear alternate;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}